body {
    background-color: lightgray;
}

@font-face {
    font-family: 'long_shot';
    src: url('../fonts/long_shot.woff2') format('woff2'),
    url('../fonts/long_shot.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.MuiTypography-h4 {
    font-family: 'long_shot', serif;
}

.MuiTypography-body2.NavTopBarLink {
    font-family: 'long_shot', serif;
    font-size: 1.43rem;
    letter-spacing: .1em;
}

.MuiButtonBase-root.NavTopBarButton {
    border: 1px solid transparent;
}

.MuiButtonBase-root.NavTopBarButton:hover {
    border: 1px solid white;
}

.news_load_more span {
    transition: all .1s linear;
}

.news_load_more:hover span {
    transform: rotate(180deg);
}

.news-container img {
    transition: filter .4s linear;
}

.news-container img:hover {
    filter: blur(4px) grayscale(100%);
}

.dzu-dropzone {
    overflow: hidden;
}

.dzu-inputLabel {
    color: rgba(243, 243, 243, 0.87);
}

.dzu-previewButton:after {
    content: 'x';
    padding: 5px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}

#back-to-top-anchor-fixed img {
    margin-right: 16px;
    width: 30px;
    height: 30px;
    transition: all .25s linear;
}
#back-to-top-anchor-fixed img:hover {
    width:50px;
    height: 50px;
}

body {
    flexGrow: 1;
    /*background-image: url("/images/dark-background.png"), linear-gradient(90deg, #333333, rgb(189, 0, 0))*/
    background-image: url("/images/dark-background.png"), linear-gradient(90deg, #000000, rgb(189, 0, 0));
    animation: backgroundSlide 60s infinite;
}

footer {
    background: url("/images/dark-background.png");
    animation: backgroundSlide 60s infinite;
}

@keyframes backgroundSlide {
    0% {
        background-position: 0 0;
    }
    25% {
        background-position: 25% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 25%;
    }
    100% {
        background-position: 0 0;
    }
}
